<% include partials/header.ejs%>


<!-- Dynamicly grab title -->
<h1><%= title %></h1>

<!-- Styles and panel -->
<div class="panel panel-primary col-md-offset-4">
   <div class="panel-body">
      <h1>Karl Kovacs</h1> <br>
      <p1 class="paragraph">
         I am a student at georgian college currently in the COPA program. <br>
      This is where I need to work on some more content but because I ran out of time <br>
      I'm simply going to ramble on until about now..........</p1>

   </div>
</div>

<% include partials/footer.ejs %>