<% include partials/header.ejs%>

<!-- Dynamicly grab title -->
<h1><%= title %></h1>


<div class="col-md-offset-4">

    <!-- Basic form with text area -->
<form class="form-horizontal" method="post">
    Your name<br>
     <input class="panel-body" type="text" name="name"><br>
    Your e-mail<br>
    <input class="panel-body" type="text" name="email"><br>
    Message<br>
    <textarea class="panel-body" name="message"  rows="10" cols="50" ></textarea><br>
    <input  class="btn btn-default" type="submit" value="Send">
    <input class="btn btn-default" type="reset" value="Clear">
</form>
</div>


<% include partials/footer.ejs %>