<% include partials/header.ejs%>

<!-- Dynamicly grab title -->
<h1><%= title %></h1>


<!-- Styles and panel for page-->
<div class="col-md-4">
<img class="img-circle" src="images/me.jpg" alt="me">
</div>

<div class="panel panel-primary col-md-offset-4">
    <div class="panel-body">
        <h1>Welcome To My Site!</h1> <br>
        <p1 class="paragraph">Hello! <br>
            The following website is my portfollio. From here you can learn more about me and what I've been working on so far in my schooling career!</p1>

    </div>
</div>
<% include partials/footer.ejs %>