body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.panel-body{
  background-color: #c8e5bc;
}

.navcolour{

  background: linear-gradient(#c8e5bc, #b9def0); /* Standard syntax */

}